 <div class="caption-full">
        	<div class="panel panel-info">
	                  <div class="panel-heading">
	                        <div class="panel-title">Sign In</div>
	                  </div>     
                    
                      <div class="panel-body" >
								<div>Student Details</div>
							
							     <div class="form-group">
									 <label class="control-label">ID : </label>
									 <label class="control-label">{{student.id}}</label>
								 </div>
								 
								 <div class="form-group">
									 <label class="control-label">Nom : </label>
									 <label class="control-label">{{student.nom}}</label>
								 </div>
								 
								 <div class="form-group">
									 <label class="control-label">Prénom : </label>
									 <label class="control-label">{{student.prenom}}</label>
								 </div>
								 
								 <div class="form-group">
									 <label class="control-label">Date Naissance</label>
									 <label class="control-label">{{student.dateNaissance | date :'yyyy-MM-dd'}}</label>
								 </div>
                        </div>                     
             </div>  
                           
</div>